name: build-test

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5.0.0
    - uses: ./.github/actions/prepare
    - name: use pnpm to build site
      run: |
       pnpm build