name: vercel-deploy
env:
    VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
    VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
on:
  push:
    branches: [ main ]
jobs:
  Deploy-Production:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x]
    steps:
    - uses: actions/checkout@v4.3.0
    - uses: pnpm/action-setup@v4.1.0
      with:
        version: 8.15.9
    - name: Use Node.js ${{ matrix.node-version }} and install vercel CLI
      uses: actions/setup-node@v4.4.0
      with:
        node-version: ${{ matrix.node-version }}
        cache: pnpm
    - run: pnpm i -g vercel
    - name: Deploy Project Vercel
      run: vercel deploy --prod --token=${{ secrets.VERCEL_TOKEN }}
